
  <h2>Select Client</h2>
  <div class="field">
    Client Name:
    <%= f.collection_select :entprs_name, Client.all, :entprs_name, :client_name, :selected => session[:entprs_name] %>
  </div>
  <div style="visibility:hidden">
<%= f.text_field :creater, :value => current_user %>
</div>
or <%= link_to 'create new client?', new_client_path %>
