<div id="login">
	<h2>Log in</h2>
	<hr>
	<table align="center">
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username" class="awesome-text-box"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" class="awesome-text-box"></td>
		</tr>
		<tr>
			<td></td>
			<td><div id="mybnt"><%= f.submit "Log in"%></div></td>
		</tr>
	</table>

</div>